@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Hanken+Grotesk:wght@500&family=Heebo&family=IBM+Plex+Mono&family=Lato:wght@400;700;900&family=Open+Sans:wght@500;800&family=PT+Sans:ital@0;1&family=Silkscreen&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Silkscreen";
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ca1e0;
    border: 10px solid #0d0d0d;
    width: 35vw;
    margin: 10px auto;
    border-radius: 1rem;
}

.main-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
}

.movement-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

button {

    padding: 0.2rem;
    border-radius: 50%;
    outline: none;
    border: none;
}

.movement-buttons .moviment-buttons {
    padding: 0.5rem; 
    cursor: pointer;
    border-radius: 0.3rem;
    margin: 0.1rem;
    border: 1px solid #404341;
}

.control-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}



.control-buttons button {
    border-radius: 1rem;
    border: 1px solid #404341;
}

.pause-reset button {
    border-radius: 0.3rem;
    border: 1px solid #404341;
}

#game-container {
    position: relative;
    width: 512px;
    height: 543px;
    background-image: url('img/map2.png');
    border: 10px solid #404341;
}

.screen {
    padding: 0.5rem 1rem;
    background-color: #77817c;
    border-radius: 0.2rem;
    border: 1px solid #404341;
    margin: 0;
}

h3 {
    text-align: center;
    margin: 0.5rem;
}

.main-character {
    z-index: 100;
    position: absolute;
    width: 32px;
    height: 32px;
    transform: scale(3);
}

.enemy {
    width: 64px;
    height: 64px;
}

.boss {
    width: 128px;
    height: 96px;
}

.enemy {
    transform: scaleY(2.3) scaleX(2);
}

.enemy1 {
    transform: scaleY(3) scaleX(-4);
}

.boss {
    transform: scaleX(1.3) scaleY(1.3);
}

#sword-container {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: cover;
    z-index: 50;
}

.hidden {
    opacity: 0;
}

#timer-container {
    position: fixed;
    left: 20%;
    top: 50%;
}